$dark: #191919;
$grey: #4d4d4d;
$grey-light: #9c9c9c;
$white: #ffffff;
$teal: #67b8b2;
$yellow: #faea63;
$orange: #f7cf3c;

body {
  background-color: $dark;
}

.container {
  display: flex;
  justify-content: center;
  .headline {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: Righteous;

    margin-top: 12rem;

    h1 {
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 6rem;
      text-shadow: 8px 4px 0px $dark;
    }

    h2 {
      font-size: 3rem;
      text-shadow: 2px 4px 0px $dark;
      z-index: 8;
      margin-bottom: 0px;
      margin-top: -2rem;
    }

    #ben {
      z-index: 10;
      color: $teal;
    }

    #fre {
      z-index: 9;
      color: $yellow;
      margin-top: -3rem;
    }

    #cz {
      color: $orange;
    }

    a {
      margin-top: 6rem;
      z-index: 8;
      color: $white;
      font-size: 2rem;
      text-decoration: none;
    }
  }

  .track {
    z-index: 6;
    margin-top: 6rem;
    margin-left: -20rem;
    width: 70%;
  }
}

.sidebar {
  margin-left: -10rem;
  align-self: center;
  h2 {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: $yellow;
    font-family: Righteous;

    font-size: 3rem;
    text-shadow: 2px 4px 0px $dark;

    margin-top: 0rem;
    margin-bottom: 0rem;

    &:not(:first-child) {
      margin-top: -1rem;
    }

    &:first-child {
      color: $teal;
    }

    &:last-child {
      color: $orange;
    }
  }
}

@media (min-width: 1312px) {
  body {
    height: 90vh;
  }
  .track {
    height: 80vh;
  }
  .sidebar {
    margin-left: -30rem;
  }
}
